<form prefix="schema http://schema.org/ adms http://www.w3.org/ns/adms# owl http://www.w3.org/2002/07/owl# xsd http://www.w3.org/2001/XMLSchema# skos http://www.w3.org/2004/02/skos/core# rdfs http://www.w3.org/2000/01/rdf-schema# vcard http://www.w3.org/2006/vcard/ns# dct http://purl.org/dc/terms/ rdf http://www.w3.org/1999/02/22-rdf-syntax-ns# xml http://www.w3.org/XML/1998/namespace dcat http://www.w3.org/ns/dcat# foaf http://xmlns.com/foaf/0.1/ pav http://purl.org/pav/ vera http://wds.poli.usp.br/andrefmb/ap# void http://rdfs.org/ns/void# void-ext http://ldf.fi/void-ext#">
  <!-- Root Class Person -->
  
  <legend>Catálogo</legend>
<div typeOf="dcat:catalog" resource="http://vera.wds.poli.usp.br/{dct:identifier}">
    <label>Identificador do Catálogo</label>
    <input name="dct:identifier" datatype="xsd:string" type="literal" />
    <label>Título do Catálogo </label>
    <input name="dct:title" type="literal" />
    <label>Descrição </label>
    <input name="dct:description" textarea type="literal" />

    <label>Data de publicação </label>
    <input name="dct:issued" type="literal"   datatype="xsd:date"/>

    <label>Homepage</label>
    <input name="foaf:homepage" type="resource" external />  


     <label>Taxonomia</label>
    <input name="skos:conceptSchema" type="resource" value="skos:conceptSchema"  arguments='{"pid":"{dct:identifier}"}'
        additional/>
       
    
   <!-- resource property -->
   <label>Dataset</label>
    <input name="dcat:dataset" type="resource" value="dcat:dataset"  arguments='{"pid":"{dct:identifier}"}'
       multiple additional/>


  </div>
<legend>Dataset</legend>   
<div typeOf="dcat:dataset" resource="http://vera.wds.poli.usp.br/{pid}/{dct:label}">

  <label>Número Dataset</label>
 <input name="dct:label" datatype="xsd:string" type="literal" />
 <label>URI do Dataset</label>
 <input name="dct:identifier" datatype="xsd:string" type="literal"/>
 <label>Título do Dataset </label>
 <input name="dct:title" type="literal" />
<label>Página</label>
 <input name="foaf:page" type="resource"  external  />

 <label>Descrição </label>
 <input name="dct:description" textarea type="literal" />

 <label>Data de criação </label>
 <input name="dct:created" type="literal"   datatype="xsd:date"/>
 <label>Data de publicação </label>
 <input name="dct:issued" type="literal"   datatype="xsd:date"/>
 <label>Criado por</label>
 <input name="pav:createdBy" type="resource" external />   
  <label>Licença</label>
 <input name="dct:license" type="resource" external /> 
 <label>Idioma</label>
 <input name="dct:language" type="resource" external/>    
 <label>Vocabulário</label>
 <input name="void:vocabulary" type="resource" external/>  
  <label>Classificação Taxonômica</label>
 <input name="dcat:theme" type="resource" multiple external/>  
 <label>Periodicidade de manutenção</label>
 <input name="dct:accrualPeriodicity"  type="resource"  external />  
 <label>Palavra-chave </label>
 <input name="dcat:keyword" type="literal" multiple/>
 <label>Proveniência </label>
 <input name="dcat:provenance" textarea type="literal" />
 <label>Direitos de acesso </label>
 <input name="dct:accessRights" textarea type="literal" />

  <label>URI Publicador </label>
 <input name="dct:publisher" type="resource" external required/>
  
 <label>Versão atual </label>
 <input name="pav:hasCurrentVersion" type="resource" external required/>

  <label>Temporabilidade </label>
 <input name="dct:temporal" type="resource" value="dct:periodOfTime" arguments='{"pid":"{pid}", "did":"{dct:label}"}' multiple additional/>

  <label>Espacialidade </label>
 <input name="dct:spatial" type="resource" external  placeholder="http://www.geonames.org/3663529" multiple additional />

 <input name="dcat:contactPoint" type="resource" value="vcard:kind" arguments='{"pid":"{pid}", "did":"{dct:label}"}' additional multiple help="Adicione um ou mais pontos de contato."/>

<input name="vera:datasetVersion" type="resource" value="vera:datasetVersion" arguments='{"pid":"{pid}", "did":"{dct:label}"}' additional multiple/>
   
</div>

<legend>Ponto de Contato</legend>   
<div typeOf="vcard:kind" resource="http://vera.wds.poli.usp.br/{pid}/{did}/contact/{vcard:hasEmail}">
<label>URI Ponto de Contato</label>
<input name="dct:identifier" type="literal" datatype="xsd:string"  />
<label>Nome</label>
 <input name="vcard:fn"  type="literal" />
 <label>E-mail</label>
 <input name="vcard:hasEmail"  type="literal" />
</div>


<legend>Versão</legend>  
<div typeOf="vera:datasetVersion" resource="http://vera.wds.poli.usp.br/{pid}/{did}/{dct:label}">
<label>Dataset relacionado</label>
<input name="dct:isVersionOf" type="resource" external/>  
<label>Id da Versão</label>
<input name="dct:label" type="literal" datatype="xsd:string"/>
<label>Título da Versão</label>
<input name="dct:title" type="literal" datatype="xsd:string"/>
<label>Nro. da Versão</label>
<input name="pav:version" type="literal"/>
 <label>URI da versão</label>
 <input name="dct:identifier" datatype="xsd:string" type="literal"/>

<label>Data de criação </label>
<input name="dct:created" type="literal"   datatype="xsd:date"/>
<label>Data de publicação </label>
<input name="dct:issued" type="literal"   datatype="xsd:date"/>

<label>Criado por</label>
<input name="pav:createdBy" type="resource" external />  
<label>Descrição</label>
 <input name="dct:description"  textarea type="literal" />

<label>Versão anterior</label>
<input name="pav:previousVersion" type="resource" external/>



 <input name="dcat:distribution" type="resource" value="dcat:distribution" arguments='{"pid":"{pid}", "did":"{did}", "vid":"{dct:label}"}' additional multiple/>


 </div>

<legend>Distribuição</legend>  

<div typeOf="dcat:distribution" resource="http://vera.wds.poli.usp.br/{pid}/{did}/{vid}/{dct:label}">
<label> URI da Versão correspondente </label>
<input name="dct:conformsTo" type="resource" external /> 

<label>Id da Distribuição</label>
<input name="dct:label" type="literal" datatype="xsd:string"/>
<label>URI Distribuição</label>
<input name="dct:identifier" type="literal" datatype="xsd:string"  />
<label>Título da Distribuição</label>
<input name="dct:title" type="literal" datatype="xsd:string"/>
<label>Descrição</label>
 <input name="dct:description"  textarea type="literal" />
<label>Data de criação </label>
<input name="dct:created" type="literal"   datatype="xsd:date"/>
<label>Data de publicação </label>
<input name="dct:issued" type="literal"   datatype="xsd:date"/>
<label>Criado por</label>
<input name="pav:createdBy" type="resource" external />

<label> Formato </label>
<input name="dct:format" type="literal" select select-options='{"text/csv":"text/csv", "application/geo+json":"application/geo+json", "application/gzip":"application/gzip", "text/html":"text/html", "application/netcdf":"application/netcdf", "application/xml":"application/xml", "application/xls":"application/xls"}' />

<label>Tamanho do arquivo (bytes) </label>
<input name="dcat:byteSize" type="literal"   datatype="xsd:string"/>

<label>URL de acesso</label>
<input name="dcat:accessURL" type="resource" external/>

<label>URL de download</label>
<input name="dcat:downloadURL" type="resource" external/>



 </div>


<legend>Temporabilidade</legend>  
 <div typeOf="dct:periodOfTime" resource="http://vera.wds.poli.usp.br/{pid}/{did}/t/{rdfs:label}">
 
<label>Id </label>
<input name="rdfs:label" type="literal"   datatype="xsd:string"/>

<label>Data de início </label>
<input name="schema:startDate" type="literal"   datatype="xsd:date"/>
<label>Data de término </label>
<input name="schema:endDate" type="literal"   datatype="xsd:date"/>


 </div> 


<legend>Taxonomia</legend>  
 <div typeOf="skos:conceptSchema" resource="http://vera.wds.poli.usp.br/{pid}/cs">
 
  <label>Título</label>
<input name="rdfs:title" type="literal"   datatype="xsd:string"/>

 <input name="skos:concept" type="resource" multiple value="skos:concept" arguments='{"pid":"{pid}"}' />  
 </div> 



<legend>Conceito</legend>  
 <div typeOf="skos:concept" resource="http://vera.wds.poli.usp.br/{pid}/cs/{rdfs:label}">
 <label>Descrição</label>
<input name="rdfs:label" type="literal"   datatype="xsd:string"/>
 <label>preferred label </label>
 <input name="skos:prefLabel" type="literal"  multiple datatype="xsd:string"/>


<!-- <input name="skos:concept" type="resource" multiple value="skos:concept" arguments='{"pid":"{pid}"}' /> --> 
 </div> 


<!--
<div>
<legend>Conceito</legend>  
 <div typeOf="skos:concept" resource="http://vera.wds.poli.usp.br/{pid}/cs/{label}">
  <label>preferred label </label>

 
 </div>

 -->

</form> 