<form prefix="bio http://vocab.org/bio/0.1/ foaf http://xmlns.com/foaf/0.1/ rdfs http://www.w3.org/2000/01/rdf-schema# dc http://purl.org/dc/elements/1.1/ cpm http://example.com/">
  
  <!-- Root Class Person -->
  <legend>Person</legend>
  <div typeof="foaf:Person" resource="Person-{pid}">
    <input name="pid" type="hidden" value="123-{foaf:name}" />

    <!-- literal property -->
    <label>Name</label>
    <input name="foaf:name" type="literal" datatype="xsd:string" required />

    <input name="foaf:gender" type="literal" select select-options='{"woman":"woman", "man":"man"}'  datatype="xsd:string" />

    <!-- resource property -->
    <input name="bio:event" type="resource" value="bio:Birth"
      arguments='{"pid":"{pid}"}' multiple
    />

    <!-- literal property -->
    <label>E-Mail</label>    
    <input name="foaf:mbox" type="literal" placeholder="name@example.org" additional multiple />

    <!-- literal property as textarea -->
    <label>Comment</label>
    <input name="rdfs:comment" type="literal" textarea />
  </div> 

  <!-- Resource Class Birth -->
  <legend>Birth</legend>
  <div typeof="bio:Birth" resource="Birth-{pid}">
    <p class="help">Adds the resource Birth to the Person.</p>

    <label>Ort</label>
    <input name="rdfs:label" type="literal" datatype="xsd:string" placeholder="Birthplace" />

    <label>Datum</label>
    <input name="dc:date" type="literal" datatype="xsd:date" placeholder="JJJJ-MM-TT" />
  </div>
 <!-- ### Vornamen ### -->
  <legend>Vornamen</legend>    
   <div typeof="foaf:Organization" resource="Person-{pid}">
    <input name="pid" type="hidden" value="123-{foaf:name}" />

    <!-- literal property -->
    <label>Name</label>
    <input name="foaf:name" type="literal" datatype="xsd:string" required />

    <input name="foaf:gender" type="literal" select select-options='{"woman":"woman", "man":"man"}'  datatype="xsd:string" />

    <!-- resource property -->
    <input name="bio:event" type="resource" value="bio:Birth"
      arguments='{"pid":"{pid}"}' multiple
    />

    <!-- literal property -->
    <label>E-Mail</label>    
    <input name="foaf:mbox" type="literal" placeholder="name@example.org" additional multiple />

    <!-- literal property as textarea -->
    <label>Comment</label>
    <input name="rdfs:comment" type="literal" textarea />
  </div> 

  <!-- Resource Class Birth -->
  <legend>Birth</legend>
  <div typeof="bio:Birth" resource="Birth-{pid}">
    <p class="help">Adds the resource Birth to the Person.</p>

    <label>Ort</label>
    <input name="rdfs:label" type="literal" datatype="xsd:string" placeholder="Birthplace" />

    <label>Datum</label>
    <input name="dc:date" type="literal" datatype="xsd:date" placeholder="JJJJ-MM-TT" />
  </div> 

</form> 